html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .15em;
  font-weight: 700;
}

nav ul li a {
  padding: 1em;
}

nav ul li a:hover {
  background-color: #f1f1f1;
  color: skyblue;
}

.push-right {
  margin-left: auto;
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-color: #a7a7a7;
  border-bottom-style: solid;
}


@media screen and (max-width: 600px) {
  nav ul {
    display: block;
    margin: 0;
  }
  nav ul li {
    border-bottom-width: 1px;
    border-bottom-color: #a7a7a7;
    border-bottom-style: solid;
  }
  nav ul li a {
    padding: 0;
  }
}