html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-color: #a7a7a7;
  border-bottom-style: solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.about {
  grid-column: 3 / 5;
}

.contact {
  grid-column: 5;
}


@media screen and (max-width: 600px) {
  .about {
    grid-column: 2 / 7;
  }
  
  .contact {
    grid-column: 2 / 7;
  }
}