.containerHeader {
    padding: 1.5em;
    text-align: center;
    background-color: #f5f8fa;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.profile {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
    padding: 0.25rem;
}

.name {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
    color: rgb(122, 122, 122);
    margin: 0.25em 0px 0px 0px;
}

.name:hover {
    color: #006c94;
}

.title {
    font-family: merriweather,serif;
    font-size: 2rem;
    font-weight: 400;
    color:#006c94;
}

.contactLink:hover {
    color:#006c94;
}

.contactIcon {
    font-size: 2em;
    vertical-align: middle;
    padding-right: 0.25em;
}

.contactText {
    font-size: 1.2em;
}

.aboutText {
    margin: 1em;
}